*{
  margin:0;
  padding:0;
}
body{
  height: 100vh;
  width: 100%;
  background-color: #2a2a2a;
}
/* Grid design */
.grid-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px auto;
  width: fit-content;
}

.grid-row {
  display: flex;
  gap: 8px;
}
/* Cell Design */

.grid-cell {
  background-color:#212121 ;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #dde0ba;
  box-shadow: 20px 20px 60px #00000057,inset -20px -20px 60px #ffffff14;
  border-radius: 5px;
}
.grid-cell::after{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-color: #61dafb;
}
.grid-cell:hover{
 border: 2px solid #cad395;
}

